<?xml version="1.0" encoding="UTF-8"?>
<!--			      Notice: Config Name							 -->
<!-- Config name should be unique. Otherwise, only the first set	 -->
<!-- of configuration will be used for model-building.				 -->
<!--				  Notice: Classifiers							 -->
<!-- Classifier name should be the full weka class name. 			 -->
<!-- Besides, please make sure these classifiers can be used for   	 -->
<!-- the numerical or binominal attribute you want to classify.		 -->
<!--				 Notice: DataSet Attributes						 -->
<!-- DatasetAttributes shows if these attributes should be 			 -->
<!-- included in the corresponding dataset. "True"(case insenstive)  -->
<!-- is taken as yes, anything else is no.						     -->
<AgentConfigs>
  <Config>
    <Name>Krislet</Name>
    <Classifiers>
      <ActionTypeClassifier>weka.classifiers.trees.J48</ActionTypeClassifier>
      <ActionAngleClassifier>weka.classifiers.rules.M5Rules</ActionAngleClassifier>
      <ActionPowerClassifier>weka.classifiers.rules.M5Rules</ActionPowerClassifier>
    </Classifiers>
    <DatasetAttributes>
      <ActionType>
        <Time>false</Time>
        <Ball>true</Ball>
        <Goal>true</Goal>
        <Teammates>false</Teammates>
        <Opponents>false</Opponents>
        <Position>false</Position>
        <States>false</States>
      </ActionType>
      <KickPower>
        <Time>false</Time>
        <Ball>true</Ball>
        <Goal>true</Goal>
        <Teammates>false</Teammates>
        <Opponents>false</Opponents>
        <Position>false</Position>
        <States>false</States>
      </KickPower>
      <KickAngle>
        <Time>false</Time>
        <Ball>true</Ball>
        <Goal>true</Goal>
        <Teammates>false</Teammates>
        <Opponents>false</Opponents>
        <Position>false</Position>
        <States>false</States>
      </KickAngle>
      <DashPower>
        <Time>false</Time>
        <Ball>true</Ball>
        <Goal>true</Goal>
        <Teammates>false</Teammates>
        <Opponents>false</Opponents>
        <Position>false</Position>
        <States>false</States>
      </DashPower>
      <TurnAngle>
        <Time>false</Time>
        <Ball>true</Ball>
        <Goal>true</Goal>
        <Teammates>false</Teammates>
        <Opponents>false</Opponents>
        <Position>false</Position>
        <States>false</States>
      </TurnAngle>
      <CatchAngle>
        <Time>false</Time>
        <Ball>true</Ball>
        <Goal>true</Goal>
        <Teammates>false</Teammates>
        <Opponents>false</Opponents>
        <Position>false</Position>
        <States>false</States>
      </CatchAngle>
    </DatasetAttributes>
  </Config>
  <Config>
    <Name>A1</Name>
    <Classifiers>
      <ActionTypeClassifier>weka.classifiers.rules.JRip</ActionTypeClassifier>
      <ActionAngleClassifier>weka.classifiers.rules.M5Rules</ActionAngleClassifier>
      <ActionPowerClassifier>weka.classifiers.rules.M5Rules</ActionPowerClassifier>
    </Classifiers>
    <DatasetAttributes>
      <ActionType>
        <Time>false</Time>
        <Ball>true</Ball>
        <Goal>true</Goal>
        <Teammates>true</Teammates>
        <Opponents>false</Opponents>
        <Position>false</Position>
        <States>false</States>
      </ActionType>
      <KickPower>
        <Time>false</Time>
        <Ball>true</Ball>
        <Goal>true</Goal>
        <Teammates>false</Teammates>
        <Opponents>false</Opponents>
        <Position>false</Position>
        <States>false</States>
      </KickPower>
      <KickAngle>
        <Time>false</Time>
        <Ball>true</Ball>
        <Goal>true</Goal>
        <Teammates>false</Teammates>
        <Opponents>false</Opponents>
        <Position>false</Position>
        <States>false</States>
      </KickAngle>
      <DashPower>
        <Time>false</Time>
        <Ball>true</Ball>
        <Goal>true</Goal>
        <Teammates>true</Teammates>
        <Opponents>false</Opponents>
        <Position>false</Position>
        <States>false</States>
      </DashPower>
      <TurnAngle>
        <Time>false</Time>
        <Ball>true</Ball>
        <Goal>true</Goal>
        <Teammates>true</Teammates>
        <Opponents>false</Opponents>
        <Position>false</Position>
        <States>false</States>
      </TurnAngle>
      <CatchAngle>
        <Time>false</Time>
        <Ball>true</Ball>
        <Goal>true</Goal>
        <Teammates>false</Teammates>
        <Opponents>false</Opponents>
        <Position>false</Position>
        <States>false</States>
      </CatchAngle>
    </DatasetAttributes>
  </Config>
  <Config>
    <Name>Garfield</Name>
    <Classifiers>
      <ActionTypeClassifier>weka.classifiers.rules.JRip</ActionTypeClassifier>
      <ActionAngleClassifier>weka.classifiers.rules.M5Rules</ActionAngleClassifier>
      <ActionPowerClassifier>weka.classifiers.rules.M5Rules</ActionPowerClassifier>
    </Classifiers>
    <DatasetAttributes>
      <ActionType>
        <Time>false</Time>
        <Ball>true</Ball>
        <Goal>true</Goal>
        <Teammates>false</Teammates>
        <Opponents>false</Opponents>
        <Position>false</Position>
        <States>false</States>
      </ActionType>
      <KickPower>
        <Time>false</Time>
        <Ball>true</Ball>
        <Goal>true</Goal>
        <Teammates>false</Teammates>
        <Opponents>false</Opponents>
        <Position>false</Position>
        <States>false</States>
      </KickPower>
      <KickAngle>
        <Time>false</Time>
        <Ball>true</Ball>
        <Goal>true</Goal>
        <Teammates>false</Teammates>
        <Opponents>false</Opponents>
        <Position>false</Position>
        <States>false</States>
      </KickAngle>
      <DashPower>
        <Time>false</Time>
        <Ball>true</Ball>
        <Goal>true</Goal>
        <Teammates>false</Teammates>
        <Opponents>false</Opponents>
        <Position>false</Position>
        <States>true</States>
      </DashPower>
      <TurnAngle>
        <Time>false</Time>
        <Ball>true</Ball>
        <Goal>true</Goal>
        <Teammates>false</Teammates>
        <Opponents>false</Opponents>
        <Position>false</Position>
        <States>false</States>
      </TurnAngle>
      <CatchAngle>
        <Time>false</Time>
        <Ball>true</Ball>
        <Goal>true</Goal>
        <Teammates>false</Teammates>
        <Opponents>false</Opponents>
        <Position>false</Position>
        <States>false</States>
      </CatchAngle>
    </DatasetAttributes>
  </Config>
</AgentConfigs>

